<div class="container my-4">
  <div class="table-responsive rounded-3">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% @pools.each do |pool| %>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title text-center"><%= link_to pool.name, pool_path(pool) %></h5>
                <p class="card-text">
                  <strong>출발지:</strong> <%= link_to pool.start_place.name, pool_path(pool) %><br>
                  <strong>목적지:</strong> <%= link_to pool.end_place.name, pool_path(pool) %><br>
                  <strong>좌석 수:</strong> <%= pool.user_max %> 좌석<br>
                  <strong>종류:</strong> 
                  <% if pool.pool_type == "car" %>
                    자동차
                  <% else %>
                    택시
                  <% end %>
                </p>
              </div>
              <div class="card-footer text-center">
                <% if pool.closed? %>
                  <button class="btn btn-secondary btn-sm" disabled>마감</button>
                <% else %>
                  <% if pool.bookings.where(user: current_user).any? %>
                    <%= link_to '참가 중', pool_path(pool), class: "btn btn-success btn-sm" %>
                  <% else %>
                    <%= link_to '참가 가능', pool_path(pool), class: "btn btn-primary btn-sm" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%== pagy_bootstrap_nav(@pagy) %>
    <div class="text-start">
      <%= link_to "처음처럼", root_path, class: "btn btn-success me-2" %>
      <%= link_to "카풀 만들기", new_pool_path, class: "btn btn-primary me-2" %>
    </div>
  </div>
</div>
