<div id="<%= dom_id pool %>">
  <p>
    <strong>Pool type:</strong>
    <%= pool.pool_type %>
  </p>

  <p>
    <strong>User:</strong>
    <%= pool.user_id %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= pool.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= pool.end_at %>
  </p>

  <p>
    <strong>User max:</strong>
    <%= pool.user_max %>
  </p>

  <p>
    <strong>User min:</strong>
    <%= pool.user_min %>
  </p>

</div>
