<p style="color: green"><%= notice %></p>

<% content_for :title, "Pools" %>

<h1>Pools</h1>

<% if @pools.count==0 %>
  카풀이 존재하지 않습니다.
<% else %>
  카풀이 존재합니다
<% end %>

<table id="carpoolTable" class="table table-striped table-bordered rounded-3">
  <thead class="table-dark">
      <tr>
          <th>출발지</th>
          <th>목적지</th>
          <th>좌석 수</th>
          <th>종류</th>
      </tr>
  </thead>
  <tbody>
    <% @pools.each do |pool| %>
      <tr data-href="new.html">
        <td><%= pool.start_place.name %></td>
        <td><%= pool.end_place.name %></td>
        <td><%= pool.user_max %> 좌석</td>
        <td>
          <% if pool.pool_type=="car" %>
            자동차
          <% else %>
            택시
          <% end %>
        </td>  
      </tr>
    <% end %>
  </tbody>
</table>

<div id="pools">
  <% @pools.each do |pool| %>
    <%= pool.id %>번 카풀
  <% end %>
</div>

<%= link_to "New pool", new_pool_path %>
