<% content_for :title, "카풀 정보" %>
<%= turbo_stream_from @pool %>
<%= turbo_stream_from "user_#{current_user.id}" %>
<div class="container mt-5"  style="max-width:700px">
  <div class="card shadow-sm">
    <div class="card-header bg-lignt">
      <h3 class="mb-0 text-center">카풀 정보</h3>
    </div>

    <%= render partial: 'pool_table', locals: {pool: @pool} %>

    <div class="container mt-4 text-center">
      <h4 class="mb-3">참여자</h4>
      <%= render partial: 'bookings', locals: { pool: @pool, user: current_user } %>

    </div>
    
    <div class="card-footer text-end mt-3">
      <% if current_user == @pool.owner || (current_user.admin? && current_user != @pool.owner) %>
        <%= link_to '수정하기', edit_pool_path(@pool), class: "btn btn-primary btn-sm mx-2", data: { turbo_frame: "_top" } %>
        <%= link_to '삭제하기', @pool, data: { turbo_method: :delete, turbo_confirm: '정말 삭제하시겠습니까?' }, class: "btn btn-danger btn-sm mx-2" , data: { turbo_frame: "_top" }%>
        <%= link_to '모집 마감', finish_pool_path(@pool), class: "btn btn-success btn-sm mx-2", data: { turbo_frame: "_top" } %>
      <% end %>
      <%= link_to '목록으로', pools_path, class: "btn btn-secondary btn-sm mx-2", data: { turbo_frame: "_top" } %>
    </div>
  </div>
</div>