<div class="container mt-5">
    <img src="<%= asset_path("carpool.png") %>" alt="logo" class="d-block mx-auto mb-4" style="width: 300px; height: auto;">
    <p class="text-center mt-3 lead fw-bold">이메일을 받지 못하셨나요? 지금 다시 보내드립니다.</p>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'mt-4' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mx-auto" style="max-width: 460px;">
            <div class="mb-3">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control", placeholder: "이메일을 입력하세요" %>
            </div>
            <%= f.submit "확인", class: "btn btn-primary w-100" %>
        </div>
    <% end %>
    <%= render "devise/shared/links" %>
</div>
