<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2 class="text-center" style="font-size: 36px;"><strong>회원 정보 수정</strong></h2>
      <br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="mb-3">
          <%= f.label :email, class: "form-label" do %>
            <strong style="font-size: 20px;">이메일</strong>
          <% end %>
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "이메일을 입력하세요" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="alert alert-warning text-center">현재 확인 대기 중인 이메일: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="mb-3">
          <%= f.label :current_password, class: "form-label" do %>
            <strong style="font-size: 20px;">현재 비밀번호</strong>
          <% end %>
          <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password", placeholder: "현재 비밀번호를 입력하세요" %>
          <small class="text-muted">변경 사항을 확인하려면 현재 비밀번호를 입력해주세요</small>
        </div>

        <div class="mb-3">
          <%= f.label :password, class: "form-label" do %>
            <strong style="font-size: 20px;">비밀번호 변경</strong>
          <% end %>
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password", placeholder: "비밀번호를 입력하세요" %>
          <small class="text-muted d-block">변경을 원하지 않으면 빈 칸으로 두세요</small>
          <% if @minimum_password_length %>
            <small class="form-text text-muted d-block">최소 <%= @minimum_password_length %>자 이상 입력해주세요</small>
          <% end %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, class: "form-label" do %>
            <strong style="font-size: 20px;">비밀번호 변경 확인</strong>
          <% end %>
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", placeholder: "비밀번호를 다시 입력하세요" %>
        </div>

        <div class="mb-3">
          <%= f.label :account_bank, class: "form-label" do %>
            <strong style="font-size: 20px;">은행</strong>
            <% end %>
            <%= f.select :account_bank, User::BANK_NAMES, {prompt: "선택"}, class: "form-control dropdown-toggle"%>
        </div>

        <div class="mb-3">
          <%= f.label :account_name, class: "form-label" do %>
            <strong style="font-size: 20px;">입금자</strong>
            <% end %>
            <%= f.text_field :account_name, class: "form-control", placeholder: "입금자를 입력하세요"%>
        </div>

        <div class="mb-3">
          <%= f.label :account_number, class: "form-label" do %>
            <strong style="font-size: 20px;">계좌번호</strong>
            <% end %>
            <%= f.text_field :account_number, class: "form-control", placeholder: "계좌번호를 입력하세요"%>
        </div> 


        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <%= f.submit "수정하기", class: "btn btn-primary mb-3" %>
        </div>
      <% end %>

      <!-- 계정 삭제 관련 섹션 구분 -->
      <hr class="my-3">

      <div class="text-center">
        <div class="d-grid gap-2">
          <%= button_to "계정 삭제", registration_path(resource_name), data: { confirm: "정말로 계정을 삭제하시겠습니까?", turbo_confirm: "정말로 계정을 삭제하시겠습니까?" }, method: :delete, class: "btn btn-danger w-100" %>
          <%= link_to "홈으로 가기", root_path, class: "btn btn-secondary w-100" %>
        </div>
      </div>
    </div>
  </div>
</div>
