<div class="container">
  <style>
    .da-btn{
      width: 460px;
    }
    .em-box{
      width: 460px;
      position: relative;
      margin-bottom: 10px;
    }
    .cen-box{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .title{
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: bold;
    }
    .logo{
      display: block;
      margin: 0 auto 20px;
      width: 300px;
      height: auto;
    }
  </style>
  <img src="<%= asset_path('carpool.png') %>" alt="logo" class="logo">
  <h2 class="text-center title">비밀번호를 찾고자하는 이메일을 입력해주세요.</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'mt-4' }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group cen-box">
      <div class="em-box">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "이메일을 입력하시오" %>
      </div>
      <%= f.submit "다음", class: 'btn btn-primary da-btn' %> 
    </div>
  <% end %>

  <%#= render "devise/shared/links" %> 
</div>
