<%= simple_form_for(place) do |form| %>
  <% if place.errors.any? %>
    <div class="alert alert-danger">
      <%= place.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= form.input :place_type, as: :select, collection: [["시작", :start], ["도착", :end]], label: "장소 유형" %>
  <%= form.input :name, label: "이름" %>
  <%= form.input :latitude, label: "위도" %>
  <%= form.input :longitude, label: "경도" %>

  <div>
    <%= form.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
